button{
  width: 10rem;
  margin-top: 20px;
  border-radius: 40px;
  border: none;
  padding: 8px 16px;
  background-color: #111;
  color: #fff;
  transition: all ease .3s;
  cursor: pointer;
}

button:hover{
  transform: scale(1.2);
}
