.contenedor{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline:200px;
}

.info{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.info__tittle{
  font-size: 8rem;
}
